@{
    ViewData["title"] = "Idle Time";
}
<div class="row p-4" style="row-gap:5px">
    <div class="col-xl-12">
        <div class="card card-dark">
            <div class="card-body">
                <div class="row" style="row-gap:10px">
                    <div class="col-xl-4">

                    </div>
                    <div class="col-xl-2">
                        <select id="select_department" class="form-control">
                            <option value="ALL" selected>ALL</option>
                            <option value="CES-System">CES-System</option>
                            <option value="CES-CIS">CES-CIS</option>
                            <option value="CES-Exp">CES-Exp</option>
                            <option value="CES-QIR">CES-QIR</option>
                            <option value="CES-ENG">CES-ENG</option>
                            <option value="CES-PMD">CES-PMD</option>
                            <option value="AES">AES</option>
                        </select>
                    </div>
                    <div class="col-xl-2">
                        <input id="start_month" type="date" class="form-control" />
                    </div>
                    <div class="col-xl-2">
                        <input id="stop_month" type="date" class="form-control" />
                    </div>
                    <div class="col-xl-1">
                        <button id="btnUpdate" type="button" class="btn btn-primary form-control">
                            Update
                        </button>
                    </div>
                    <div class="col-xl-1">
                        <button id="btnExport" type="button" class="btn btn-success form-control">
                            Export
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-dark">
            <div class="card-body">
                <canvas id="chart" style="height:400px" />
            </div>
        </div>
        <div class="card card-dark">
            <div class="card-header">
                <span>Table</span>
            </div>
            <div class="card-body" style="overflow-x:auto">
                <table id="tableIdleHrs" class="table table-bordered table-hover table-sm text-center w-100">
                    <thead>
                        <tr>
                            <th style="width:180px">User</th>
                            <th>Idle (Hours)</th>
                            <th>Normal (Hours)</th>
                            <th>OT 1.5 (Hours)</th>
                            <th>OT 3.0 (Hours)</th>
                            <th>Leave (Hours)</th>
                            <th>Working Hours</th>
                            <th>Total (Hours)</th>
                            <th>Total With OT (Hours)</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card card-dark">
            <div class="card-body">
                <canvas id="radar_chart" style="height:700px" />
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        let chart;
        let radar_chart;
        let table;

        $(document).ready(function () {
            var today = new Date();
            var year = today.getFullYear();
            var month = today.getMonth();

            //var startDate = new Date(year, month, 1);
            var start_month = year + "-" +
                (month + 1).toString().padStart(2, '0') + "-" +
                "01";
            var lastDay = new Date(year, month + 1, 0).getDate();
            var stop_month = year + "-" +
                (month + 1).toString().padStart(2, '0') + "-" +
                lastDay.toString().padStart(2, '0');

            $('#start_month').val(start_month);
            $('#stop_month').val(stop_month);
            UpdateView();
        });

        $('#btnUpdate').on('click', function () {
            UpdateView();
        });

        async function UpdateView() {
            let start_month = $('#start_month').val();
            let stop_month = $('#stop_month').val();
            let department = $('#select_department').val();
            let idles = await GetIdleTimes(department,start_month,stop_month);
            GenerateChart(idles);
            GenerateRadarChart(idles);
            GenerateTable(idles);
        }

        async function GetIdleTimes(department , start,stop) {
            let idles = [];
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetIdleTimes", "IdleTime")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { department,start,stop },
                success: function (response) {
                    idles = response;
                }
            });
            return idles;
        };

        function GenerateChart(idles) {

            let colors = ['#CAE9FF', '#5FA8D3', '#1B4965','#291F7D','#209F7D'];

            let users = [];
            users = idles.map(m => m.userName).filter(f => f !== "");
            users = [... new Set(users)];

            let hoursIdle = [];
            let hoursNormal = [];
            let hoursOT1_5 = [];
            let hoursOT3_0 = [];
            let hoursLeave = [];
            for (let i = 0; i < users.length; i++) {
                let datas = idles.filter(f => f.userName === users[i]);
                hoursIdle.push(datas.map(m => m.idle)[0]);
                hoursNormal.push(datas.map(m => m.normal)[0]);
                hoursOT1_5.push(datas.map(m => m.ot1_5)[0]);
                hoursOT3_0.push(datas.map(m => m.ot3_0)[0]);
                hoursLeave.push(datas.map(m => m.leave)[0]);
            }

            if (chart !== undefined) {
                chart.destroy();
            }

            const ctx = document.getElementById('chart').getContext('2d');
            chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: users,
                    datasets: [
                        {
                            label: 'Idle',
                            data: hoursIdle,
                            backgroundColor: colors[0]
                        },
                        {
                            label: 'Normal',
                            data: hoursNormal,
                            backgroundColor: colors[1]
                        },
                        {
                            label: 'OT 1.5',
                            data: hoursOT1_5,
                            backgroundColor: colors[2]
                        },
                        {
                            label: 'OT 3.0',
                            data: hoursOT3_0,
                            backgroundColor: colors[3]
                        },
                        {
                            label: 'Leave',
                            data: hoursLeave,
                            backgroundColor: colors[4]
                        }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            title: {
                                text: "Users",
                                display: true
                            },
                            stacked: true
                        },
                        y: {
                            title: {
                                text: "Hours",
                                display: true
                            },
                            stacked: true,
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        title: {
                            text: `Working Hours Chart`,
                            display: true,
                            font: {
                                size: 18
                            },
                        },
                        legend: {
                            position: 'bottom',
                            display: true
                        }
                    },
                    maintainAspectRatio: false
                }
            });
        }

        function GenerateRadarChart(idles) {

            let colors = ['rgba(202, 233, 255, 0.7)', 'rgba(95, 168, 211, 0.7)', 'rgba(27, 73, 101, 0.7)','rgba(41, 31, 125, 0.7)','rgba(32, 159, 125, 0.7)'];

            let users = [];
            users = idles.map(m => m.userName).filter(f => f !== "");
            users = [... new Set(users)];

            let hoursIdle = [];
            let hoursNormal = [];
            let hoursOT1_5 = [];
            let hoursOT3_0 = [];
            let hoursLeave = [];
            for (let i = 0; i < users.length; i++) {
                let datas = idles.filter(f => f.userName === users[i]);
                hoursIdle.push(datas.map(m => m.idle)[0]);
                hoursNormal.push(datas.map(m => m.normal)[0]);
                hoursOT1_5.push(datas.map(m => m.ot1_5)[0]);
                hoursOT3_0.push(datas.map(m => m.ot3_0)[0]);
                hoursLeave.push(datas.map(m => m.leave)[0]);
            }

            if (radar_chart !== undefined) {
                radar_chart.destroy();
            }

            const ctx = document.getElementById('radar_chart').getContext('2d');
            radar_chart = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: users,
                    datasets: [
                        {
                            label: 'Idle',
                            data: hoursIdle,
                            backgroundColor: colors[0]
                        },
                        {
                            label: 'Normal',
                            data: hoursNormal,
                            backgroundColor: colors[1]
                        },
                        {
                            label: 'OT 1.5',
                            data: hoursOT1_5,
                            backgroundColor: colors[2]
                        },
                        {
                            label: 'OT 3.0',
                            data: hoursOT3_0,
                            backgroundColor: colors[3]
                        },
                        {
                            label: 'Leave',
                            data: hoursLeave,
                            backgroundColor: colors[4]
                        }
                    ]
                },
                options: {
                    scales: {
                      r: {
                        pointLabels: {
                          font: {
                            size: 14
                          }
                        }
                      }
                    },
                    plugins: {
                        title: {
                            text: `Working Hours Radar Chart`,
                            display: true,                
                            font: {
                                size: 18
                            },                           
                        },
                        legend: {
                            position: 'bottom',
                            display: true,                           
                        },                       
                    },
                    maintainAspectRatio: false
                }
            });
        }
        function GenerateTable(idles) {
            let datas = idles;
            datas = datas.filter(f => f.userName !== "");
            $('#tableIdleHrs').DataTable().destroy();
            $('#tableIdleHrs tbody').empty();
            for (let i = 0; i < datas.length; i++) {
                let rowStr = `
                    <tr>
                        <td style="text-align:left">${datas[i].userName}</td>
                        <td>${datas[i].idle}</td>
                        <td>${datas[i].normal}</td>
                        <td>${datas[i].ot1_5}</td>
                        <td>${datas[i].ot3_0}</td>
                        <td>${datas[i].leave}</td>
                        <td>${datas[i].workingHours}</td>                        
                        <td>${datas[i].normal + datas[i].leave + datas[i].ot1_5 + datas[i].ot3_0}</td>
                        <td>${datas[i].normal + datas[i].leave + datas[i].ot1_5 * 1.5 + datas[i].ot3_0 * 3}</td>
                    </tr>
                `;
                $('#tableIdleHrs tbody').append(rowStr);
            }

           
            $('#tableIdleHrs').DataTable({
                order: [[0, 'asc']],
                pageLength: 25,
                lengthMenu: [10, 25, 50, 100],
                paging: false,
                searching: false,
                info: false,
                destroy: true
            });
        }

        $('#btnExport').on('click',function(){
            let start_year = $('#start_month').val();
            let stop_year = $('#stop_month').val();
            location.href = '@Url.Action("ExportIdleTime", "IdleTime")?start_year='+ start_year + '&stop_year='+stop_year;
        });
    </script>
}