@model WebENG.Models.UserModel;
@{
    ViewData["Title"] = "Leave Summary";
}
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<style>

    .custom-control-input:not(:checked) ~ .custom-control-label::before {
        background-color: lightgray;
        border-color: lightgray;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: green;
        border-color: green;
    }

    .kanit-thin {
        font-family: "Kanit", sans-serif !important;
        font-weight: 100 !important;
        font-style: normal !important;
    }

    .kanit-extralight {
        font-family: "Kanit", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .kanit-light {
        font-family: "Kanit", sans-serif !important;
        font-weight: 300 !important;
        font-style: normal !important;
    }

    .kanit-regular {
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .kanit-medium {
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .kanit-semibold {
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .kanit-bold {
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .kanit-extrabold {
        font-family: "Kanit", sans-serif;
        font-weight: 800;
        font-style: normal;
    }

    .kanit-black {
        font-family: "Kanit", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .kanit-thin-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .kanit-extralight-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 200;
        font-style: italic;
    }

    .kanit-light-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .kanit-regular-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .kanit-medium-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .kanit-semibold-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    .kanit-bold-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .kanit-extrabold-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 800;
        font-style: italic;
    }

    .kanit-black-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 900;
        font-style: italic;
    }

    /* สไตล์สำหรับ input */
    input[type="text"] {
        transition: opacity 0.3s ease, background-color 0.3s ease; /* แอนิเมชันนุ่มนวล */
    }
        /* input ตอน disable */
        input[type="text"]:disabled {
            cursor: not-allowed;
        }
        /* input ตอน enable */
        input[type="text"]:not(:disabled) {
            opacity: 1;
        }

    /* สไตล์สำหรับ input */
    input[type="number"] {
        transition: opacity 0.3s ease, background-color 0.3s ease; /* แอนิเมชันนุ่มนวล */
    }
        /* input ตอน disable */
        input[type="number"]:disabled {
            cursor: not-allowed;
        }
        /* input ตอน enable */
        input[type="number"]:not(:disabled) {
            opacity: 1;
        }

    #table_leave th,
    #table_leave td {
        border-left: none !important;
        border-right: none !important;
        padding: 8px 10px !important; /* ทำให้เซลล์สูงขึ้น */
        vertical-align: middle !important; /* สำรองถ้า Bootstrap ไม่ทำงาน */
    }

    table.dataTable tbody td {
        border-left: none !important;
        border-right: none !important;
        border-top: none !important; /* ถ้าต้องการลบเส้นแนวนอนด้วย ให้ uncomment */
    }

    /* สำหรับ header ถ้าต้องการลบแนวตั้ง */
    table.dataTable thead th {
        border-left: none !important;
        border-right: none !important;
    }

    /* ลบเส้นล่างของ footer ถ้ามี */
    table.dataTable tfoot th {
        border-bottom: 1px solid #111; /* เก็บเส้นแนวนอนไว้ */
    }

    .freeze-pane {
        overflow: auto;
        height: 600px;
        position: relative;
    }

    .freeze-head {
        position: sticky;
        top: 0;
        background: #EEE;
        z-index: 10;
        box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    }

    .freeze-left {
        position: sticky;
        left: 0;
        width: 200px;
        background: white;
        box-shadow: 0 2px 2px rgba(0,0,0,0.3);
        z-index: 5;
    }

    .freeze-corner {
        z-index: 15 !important;
    }

    /* Start Half */
    .half-left {
        background: linear-gradient(90deg, transparent 50%, #E0E0E0 50%);
        border: none;
        position: relative;
        overflow: hidden;
    }

        .half-left::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            width: 1px;
            height: 100%;
            background: lightgrey;
            transform: translateX(-50%);
        }

    .half-right {
        background: linear-gradient(90deg, #E0E0E0 50%, transparent 50%);
        border: none;
        position: relative;
        overflow: hidden;
    }

        .half-right::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            width: 1px;
            height: 100%;
            background: lightgrey;
            transform: translateX(-50%);
        }
    /* End Half */
        /* Start Quarter */
    .quarter {
        position: relative;
        overflow: hidden;
        border: none;
    }

        /* เส้นกางเขนกั้นกลาง (แนวตั้ง + แนวนอน) */
        .quarter::before,
        .quarter::after {
            content: '';
            position: absolute;
            background: lightgrey;
            z-index: 1;
        }

        /* เส้นแนวตั้งกั้นซ้าย-ขวา */
        .quarter::before {
            left: 50%;
            top: 0;
            width: 1px;
            height: 100%;
            transform: translateX(-50%);
        }

        /* เส้นแนวนอนกั้นบน-ล่าง */
        .quarter::after {
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            transform: translateY(-50%);
        }

    /* 4 ช่องแต่ละมุม */
    .quarter-bottom-left {
        background: linear-gradient(90deg, transparent 50%, #E0E0E0 50%), linear-gradient(0deg, transparent 50%, #E0E0E0 50%);
        border: none;
    }

    .quarter-top-left {
        background: linear-gradient(90deg, transparent 50%, #E0E0E0 50%), linear-gradient(180deg, transparent 50%, #E0E0E0 50%);
        border: none;
    }

    .quarter-bottom-right {
        background: linear-gradient(90deg, #E0E0E0 50%, transparent 50%), linear-gradient(0deg, transparent 50%, #E0E0E0 50%);
        border: none;
    }

    .quarter-top-right {
        background: linear-gradient(90deg, #E0E0E0 50%, transparent 50%), linear-gradient(180deg, transparent 50%, #E0E0E0 50%);
        border: none;
    }
    /* End Quarter */

    /*   Start  Three Quarter   */
    .three-quarter-left {
        background: linear-gradient(90deg, #E0E0E0 25%, /* ซ้าย 25% เทาอ่อน */
        transparent 25% /* ขวา 75% โปร่งใส */
        );
        border: none;
        position: relative;
        overflow: hidden;
    }

        .left-gray::before {
            content: '';
            position: absolute;
            left: 25%; /* เส้นกั้นอยู่ที่ 25% จากซ้าย */
            top: 0;
            width: 1px;
            height: 100%;
            background: lightgrey;
            transform: translateX(-50%);
        }

    .three-quarter-right {
        background: linear-gradient(90deg, transparent 75%, /* ซ้าย 75% โปร่งใส */
        #E0E0E0 75% /* ขวา 25% เทาอ่อน */
        );
        border: none;
        position: relative;
        overflow: hidden;
    }

        .right-gray::before {
            content: '';
            position: absolute;
            left: 75%; /* เส้นกั้นอยู่ที่ 75% จากซ้าย */
            top: 0;
            width: 1px;
            height: 100%;
            background: lightgrey;
            transform: translateX(-50%);
        }

     /*    end Three Quarter   */

    .leave-warning {
        background-color: #f8d7da !important;
        border-left: 4px solid #dc3545 !important;
    }

    .leave-info {
        background-color: #90A4AE !important;
        border-left: 4px solid #17a2b8 !important;
    }

    .modern-card {
        transition: all 0.3s ease;
        border: none !important;
    }

        .modern-card:hover {
            transform: translateY(-2px);
            box-shadow: 0 8px 20px rgba(28, 70, 152, 0.15) !important;
        }

    .card {
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        text-align: center;
        /*align-items: center;
            padding: 10px 15px; */
        background-color: #fff;
    }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        }

    .badge-circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #f8f9fa;
        border: 2px solid #dee2e6;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 700;
        color: #212529;
        margin-bottom: 15px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    }

    .card-title {
        font-size: 1.1rem;
        font-weight: 600;
        color: #212529;
        margin-bottom: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dot {
        width: 8px;
        height: 8px;
        background-color: #dc3545;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
    }

    .card-text {
        font-size: 0.95rem;
        color: #6c757d;
        margin-top: 5px;
        line-height: 1.4;
    }

    .color-brown {
        background-color: #6D4C41;
    }
    /* น้ำตาลช็อกเข้ม */
    .color-sky {
        background-color: #4FC3F7;
    }
    /* ฟ้าคราม */
    .color-yellow {
        background-color: #FFD54F;
    }
    /* เหลืองทอง */
    .color-green {
        background-color: #43A047;
    }
    /* เขียวป่า */
    .color-blue {
        background-color: #1976D2;
    }
    /* น้ำเงินกรม */
    .color-red {
        background-color: #E53935;
    }
    /* แดง */
    .color-pink {
        background-color: #F06292;
    }
    /* ชมพู */
    .color-bluegrey {
        background-color: #90A4AE;
    }
    /* เทาเงิน */
    .color-orange {
        background-color: #FF8A65;
    }
    /* ส้ม*/
    .color-purple {
        background-color: #8E24AA;
    }
    /* ม่วง */

    .text-color-brown {
        color: #6D4C41;
    }
    /* น้ำตาลช็อกเข้ม */
    .text-color-sky {
        color: #4FC3F7;
    }
    /* ฟ้าคราม */
    .text-color-yellow {
        color: #FFD54F;
    }
    /* เหลืองทอง */
    .text-color-green {
        color: #43A047;
    }
    /* เขียวป่า */
    .text-color-blue {
        color: #1976D2;
    }
    /* น้ำเงินกรม */
    .text-color-red {
        color: #E53935;
    }
    /* แดง */
    .text-color-pink {
        color: #F06292;
    }
    /* ชมพู */
    .text-color-bluegrey {
        color: #90A4AE;
    }
    /* เทาเงิน */
    .text-color-orange {
        color: #FF8A65;
    }
    /* ส้ม*/
    .text-color-purple {
        color: #8E24AA;
    }
    /* ม่วง */

    /* กลุ่มปุ่มที่มี tooltip */
    .tooltip-wrapper {
        position: relative;
        display: inline-block;
    }

    /* ซ่อน tooltip เริ่มต้น */
    .custom-tooltip {
        position: absolute;
        bottom: 100%; /* วางด้านบนปุ่ม */
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 8px; /* ระยะห่างจากปุ่ม */
        background-color: #333;
        color: #fff;
        padding: 6px 10px;
        border-radius: 4px;
        font-size: 13px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease, visibility 0.2s ease;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

        /* ลูกศรชี้ลง (ด้านล่างของ tooltip) */
        .custom-tooltip::after {
            content: "";
            position: absolute;
            top: 100%; /* อยู่ด้านล่าง tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #333 transparent transparent transparent;
        }

    /* แสดง tooltip เมื่อ hover */
    .tooltip-wrapper:hover .custom-tooltip {
        opacity: 1;
        visibility: visible;
    }
</style>

<div class="row" style="row-gap:1px">
    <!-- HEADER -->
    <div class="col-12" style="padding:20px">
        <span class="kanit-bold d-flex justify-content-center " style="font-size:30px; color:#1C4698; text-align:center;">
            สถิติการลารายวัน
        </span>
    </div>
    
    <div class="container-fluid">
        <h4 class="text-center kanit-medium" style="color: #2c3e50;">สรุปการลาวันนี้</h4>
        <div class="col-10">
            <div class="row" id="div_summary_leave">
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card card-dark">
            <div class="card-body" style="height:550px; overflow-y:auto">
                <form>

                    <div class="form-group">
                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            @*Filter Monthly*@
                            <div class="col-xl-2 col-md-2 col-sm-12 d-flex justify-content-start">
                                <select id="select_department" class="form-control"></select>
                            </div>
                            <div class="row d-flex align-items-center justify-content-center">
                                <div id="div_month">
                                    <div class="col-12 d-flex align-items-center justify-content-center">
                                        <input type="button" id="prevMonth" class="btn btn-outline-secondary me-2" value="<" />
                                        <input type="month" id="monthPicker" class="form-control kanit-regular" style="width:200px; display:inline-block;">
                                        <input type="button" id="nextMonth" class="btn btn-outline-secondary ms-2" value=">" />
                                    </div>
                                </div>
                                <div id="div_week" hidden>
                                    <div class="col-12 d-flex align-items-center justify-content-center">
                                        <input id="week" type="week" class="form-control" />
                                    </div>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button id="btn_group_week" type="button" class="btn btn-outline-info">สัปดาห์</button>
                                    <button id="btn_group_month" type="button" class="btn btn-outline-success active">เดือน</button>
                                </div>
                            </div>
                        </div>
                        <!-- Status Data Employees -->
                        <div class="freeze-pane">
                            <table id="table_leave" class="table table-sm compact table-bordered table-hover text-center w-100">
                                <thead class="kanit-light" style="background-color:#E8E8E8">
                                    <tr id="headerRow">
                                        <th rowspan="2" class="kanit-bold freeze-head freeze-left freeze-corner" style="vertical-align:middle;background-color:#E8E8E8;">รายชื่อ</th>
                                    </tr>
                                    <tr id="dateRow">
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<partial name="ModalSpin" />
@section Scripts
{
    <script type="text/javascript">
        let table_leave = null;
        let leaves = [];
        let is_this_month = true;
        var table;
        let departments = [];
        let selectMonth = true;
        $(document).ready(async function () {
            await GetDepartments();
            const now = new Date();
            const year = now.getFullYear();
            const month = now.getMonth() + 1;

            const [y, w] = getISOWeek(now);
            document.getElementById('week').value = `${y}-W${w.toString().padStart(2, '0')}`;

            const currentYearMonth = year + '-' + String(month).padStart(2, '0');
            $('#monthPicker').val(currentYearMonth);

            GetDataLeave();
            let total_day = new Date(year, month, 0).getDate();
            let start = `${year}-${month}-01`;
            let end = `${year}-${month}-${total_day}`;

            init(start, end);
        });

        async function GetDepartments() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetDapartments", "SummaryLeave")',
                contentType: 'application/x-www-form-urlencoded',
                data: {},
                success: function (response) {
                    departments = response.departments;
                    GenerateDepartments(departments);
                }
            });
        }
        function GenerateDepartments(departments) {
            let select = $('#select_department');
            select.empty();
            for (let i = 0; i < departments.length; i++) {
                if (i === 0) {
                    select.append(`<option value="${departments[i]}" selected>${departments[i]}</option>`);
                } else {
                    select.append(`<option value="${departments[i]}">${departments[i]}</option>`);
                }
            }
        }

        function getISOWeek(date) {
            const d = new Date(date);
            d.setHours(0, 0, 0, 0);
            d.setDate(d.getDate() + 4 - (d.getDay() || 7));
            const yearStart = new Date(d.getFullYear(), 0, 1);
            const weekNo = Math.ceil((((d - yearStart) / 86400000) + 1) / 7);
            return [d.getFullYear(), weekNo];
        }

        function weekToDateRange(weekStr) {
            const [year, week] = weekStr.split('-W').map(Number);
            const jan4 = new Date(year, 0, 4);
            const start = new Date(jan4);
            start.setDate(jan4.getDate() - ((jan4.getDay() + 6) % 7) + (week - 1) * 7 + 1);

            const end = new Date(start);
            end.setDate(start.getDate() + 6);

            const fmt = d => d.toISOString().slice(0, 10);

            return {
                start: fmt(start),
                end: fmt(end)
            };
        }
        
        $('#select_department').on('change', function () {
            if (selectMonth) {
                const input = $('#monthPicker');
                let current = input.val();

                const today = new Date();
                if (!current) {

                    current = `${today.getFullYear()}-${String(today.getMonth() + 1).padStart(2, '0')}`;
                    input.val(current);
                }

                const [y, m] = current.split('-');
                let year = parseInt(y, 10);
                let month = parseInt(m, 10);

                if (month > 12) { month = 1; year++; }
                if (month < 1) { month = 12; year--; }

                const total_day = new Date(year, month, 0).getDate();
                let start = `${year}-${month}-01`;
                let end = `${year}-${month}-${total_day}`;

                init(start, end);

            } else {
                let week = $('#week').val();
                const range = weekToDateRange(week);
                let start = range.start;
                let end = range.end;

                init(start, end);
            }
        });

        $('#week').on('change', function () {
            let week = $('#week').val();
            const range = weekToDateRange(week);
            let start = range.start;
            let end = range.end;

            selectMonth = false;
            init(start, end);
            
        });

        $('#btn_group_week').on('click', function () {
            $('#btn_group_week').addClass('active');
            $('#btn_group_month').removeClass('active');
            $('#div_month').prop('hidden', true);
            $('#div_week').prop('hidden', false);

            let week = $('#week').val();
            const range = weekToDateRange(week);
            let start = range.start;
            let end = range.end;

            selectMonth = false;
            init(start, end);
        });

        $('#btn_group_month').on('click', function () {
            $('#btn_group_week').removeClass('active');
            $('#btn_group_month').addClass('active');
            $('#div_month').prop('hidden', false);
            $('#div_week').prop('hidden', true);

            const today = new Date();
            const newVal = $('#monthPicker').val();

            const [y, m] = newVal.split('-');
            const year = parseInt(y, 10);
            const monthIndex = parseInt(m, 10) - 1;

            const total_day = new Date(year, monthIndex + 1, 0).getDate();

            let start = `${year}-${monthIndex + 1}-01`;
            let end = `${year}-${monthIndex + 1}-${total_day}`;

            selectMonth = true;
            init(start, end);
            
        });

        function isSameMonthAndYear(date1, date2) {
            const d1 = new Date(date1);
            const d2 = new Date(date2);

            return d1.getFullYear() === d2.getFullYear() &&
                d1.getMonth() === d2.getMonth();
        }

        function generateDateHeaders(start, end) {
            const dateRow = $('#dateRow');
            dateRow.empty();

            const startDate = new Date(start);
            const endDate = new Date(end);

            let currentDate = new Date(startDate);
            while (currentDate <= endDate) {
                const dayNumber = currentDate.getDate();
                const dayName = currentDate.toLocaleDateString('th-TH', { weekday: 'short' });

                dateRow.append(`
            <th class="kanit-bold freeze-head text-center" style="min-width:40px; width:40px;">
                ${dayNumber}<br><small class="text-muted">${dayName}</small>
            </th>
        `);

                currentDate.setDate(currentDate.getDate() + 1);
            }
        }

        $('#prevMonth').on('click', function () {
            changeMonth(-1);
        });

        $('#nextMonth').on('click', function () {
            changeMonth(1);
        });

        $('#monthPicker').on('change', function () {
            const newVal = this.value;

            const [y, m] = newVal.split('-');
            const year = parseInt(y, 10);
            const monthIndex = parseInt(m, 10) - 1;

            const total_day = new Date(year, monthIndex + 1, 0).getDate();

            let start = `${year}-${monthIndex + 1}-01`;
            let end = `${year}-${monthIndex + 1}-${total_day}`;

            selectMonth = true;
            init(start, end);
            
        });

        function changeMonth(direction) {
            const input = $('#monthPicker');
            let current = input.val();

            const today = new Date();
            if (!current) {
                
                current = `${today.getFullYear()}-${String(today.getMonth() + 1).padStart(2, '0')}`;
                input.val(current);
            }

            const [y, m] = current.split('-');
            let year = parseInt(y, 10);
            let month = parseInt(m, 10) + direction;

            if (month > 12) { month = 1; year++; }
            if (month < 1) { month = 12; year--; }

            const newVal = `${year}-${String(month).padStart(2, '0')}`;

            const total_day = new Date(year, month, 0).getDate();

            
            let start = `${year}-${month}-01`;
            let end = `${year}-${month}-${total_day}`;
            input.val(newVal);

            selectMonth = true;
            init(start, end);
           
        }

        async function GetDataLeave() {
            let now = new Date();
            let date = now.toISOString().split('T')[0];
            await $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetDataLeave", "SummaryLeave")',
                    contentType: 'application/x-www-form-urlencoded',
                    data: { date },
                    success: function (response) {
                        let requests = response;
                        GenerateSummaryLeave(requests);

                    }
                });
        }
        function GenerateSummaryLeave(requests) {
            let amount_emp = requests.reduce((accumulator, currentValue) => accumulator + currentValue.amount_emp, 0);
            var html = `<div class="col-xl-2 col-md-2 col-sm-6">
                <div class="card kanit-regular" style="align-items: center; padding:10px; background-color:#2178BE;">
                    <h1 class="card-title" style="font-size:28px; color:white;"> ${amount_emp} คน </h1>
                    <h5 class="card-title" style="color:white;">
                        ลาทั้งหมด
                    </h5>
                </div>
            </div>`;
            for (var i = 0; i < requests.length; i++) {
                html += `<div class="col-xl-2 col-md-2 col-sm-6">
                <div class="card kanit-regular" style="align-items: center; padding:10px">
                    <h1 class="card-title text-${requests[i].color_code}" style="font-size:28px;"> ${requests[i].amount_emp} คน </h1>
                    <h5 class="card-title">
                        <i class="fas fa-circle mr-2 text-${requests[i].color_code}" style="font-size:10px;"></i>
                        ${requests[i].leave_name_th}
                    </h5>
                </div>
            </div>`;
            }

            $('#div_summary_leave').empty();
            $('#div_summary_leave').append(html);
        }

        function init(start, end) {
            if (table !== undefined) {
                table.destroy();
                $('#table_leave tbody').empty();
            }

            let today = new Date();
            if (selectMonth) {
                if (today >= new Date(start) && today <= new Date(end)) {
                    index_today = today.getDate();
                } else {
                    index_today = -1;
                }
            } else {
                if (today >= new Date(start) && today <= new Date(end)) {
                    index_today = Math.floor((new Date(end) - new Date(start)) / (1000 * 60 * 60 * 24)) - 1;
                }
                else {
                    index_today = -1;
                }
            }

            generateDateHeaders(start, end);

            let startDate = new Date(start);
            let endDate = new Date(end);

            let day_of_month = Math.floor((endDate - startDate) / (1000 * 60 * 60 * 24)) + 1;
            
            let department = $('#select_department').val();
            table = $('#table_leave').DataTable({
                ajax: {
                    type: "GET",
                    url: '@Url.Action("GetDataByMonth", "SummaryLeave")',
                    contentType: 'application/x-www-form-urlencoded',
                    data: { department, start, end },
                    dataSrc: '',
                },
                columns: Array(day_of_month + 1).fill({ data: null, defaultContent: "" }),
                columnDefs: (() => {
                    const defs = [];
                    for (let i = 0; i <= day_of_month; i++) {

                        const request_status = [
                            { status_en: "Pending", status_th: "รออนุมัติ" },
                            { status_en: "Resubmit", status_th: "ส่งใหม่" },
                            { status_en: "Cancelled", status_th: "ยกเลิก" },
                            { status_en: "Approved", status_th: "อนุมัติ" },
                            { status_en: "Rejected", status_th: "ไม่อนุมัติ" },
                            { status_en: "Returned", status_th: "ตีกลับ" },
                            { status_en: "Success", status_th: "สำเร็จ" },
                        ];
                        const colors = [{ "code": "color-brown", "color": "#6D4C41" },
                        { "code": "color-sky", "color": "#4FC3F7" },
                        { "code": "color-yellow", "color": "#FFD54F" },
                        { "code": "color-green", "color": "#43A047" },
                        { "code": "color-blue", "color": "#1976D2" },
                        { "code": "color-red", "color": "#E53935" },
                        { "code": "color-pink", "color": "#F06292" },
                        { "code": "color-bluegrey ", "color": "#90A4AE" },
                        { "code": "color-orange ", "color": "#FF8A65" },
                        { "code": "color-purple ", "color": "#8E24AA" },
                        ];
                        const duration_classes = [{ "duration": "half-left", "class": "half-left" },
                        { "duration": "half-right", "class": "half-right" },
                        { "duration": "quarter-top-left", "class": "quarter-top-left" },
                        { "duration": "quarter-bottom-left", "class": "quarter-bottom-left" },
                        { "duration": "quarter-top-right", "class": "quarter-top-right" },
                        { "duration": "quarter-bottom-right", "class": "quarter-bottom-right" },
                        { "duration": "three-quarter-left", "class": "three-quarter-left" }
                        ];

                        if (i == 0) {
                            defs.push({
                                targets: i,
                                render: function (data, type, row) {
                                    var imgSrc = '/img/AdminLTELogo.png';
                                    if (row.img) {
                                        imgSrc = 'data:image/jpeg;base64,' + row.img;
                                    }
                                    return `
                                           <div class="row align-items-center" style="width:300px">
                                             <div class="col-2 d-flex justify-content-center">
                                                    <img src="${imgSrc}"
                                                        class="rounded-circle me-2"
                                                        style="width: 32px; height: 32px; object-fit: cover;"
                                                        alt="${row.name}" />
                                             </div>
                                                <div class="col-10 d-flex justify-content-start">
                                                    <div style="color:#444">
                                                        <span class="kanit-regular d-block text-start fw-bold d-flex justify-content-start">${row.name}</span>
                                                        <span class="kanit-light d-block text-start text-muted small d-flex justify-content-start">${row.position}</span>
                                                    </div>
                                                </div>
                                           </div>`;
                                }
                            });
                        }
                        else {
                            defs.push({
                                targets: i,
                                render: function (data, type, row) {
                                    if (row.leaves[i - 1] !== null) {
                                        let leave = row.leaves[i - 1];
                                        if (!leave) {
                                            return '';
                                        }
                                        const duration = leave.duration;
                                        let color = colors.filter(f => f.code === leave.color_code).map(m => m.color);
                                        let status = request_status.filter(f => f.status_en === leave.status).map(m => m.status_th);
                                        let value = "";
                                        if (status !== "Successed") {
                                            value = "✸";
                                        }
                                        if (duration !== "full") {
                                            let classes = duration_classes.filter(f => f.duration === duration).map(m => m.class);
                                            return `
                                            <div class="tooltip-wrapper">
                                                <input type="button"
                                                   class="kanit-bold btn ${classes}"
                                                   style="width:34px;height:34px;border-radius:17px; background-color:${color};font-size:18px;font-weight:600;padding:3px;color:white" value="${value}"/>

                                                <!-- Tooltip แบบกำหนดเอง -->
                                                <div class="custom-tooltip kanit-light" style="background-color:darkslategrey">
                                                    <h5 style="font-size:18px; text-align:center">${leave.type} (${status})</h5>
                                                    <span style="font-size:16px; text-align:center">${leave.time}</span>
                                                </div>
                                            </div>
                                        `;
                                        } else {
                                            return `
                                            <div class="tooltip-wrapper">
                                                <input type="button"
                                                   class="kanit-bold btn btn-danger}"
                                                   style="width:34px;height:34px;border-radius:17px; background-color:${color};font-size:18px;font-weight:600;padding:3px;color:white" value="${value}"/>

                                                <!-- Tooltip แบบกำหนดเอง -->
                                                <div class="custom-tooltip kanit-light" style="background-color:darkslategrey">
                                                    <h5 style="font-size:18px; text-align:center">${leave.type} (${status})</h5>
                                                    <span style="font-size:16px; text-align:center">${leave.time}</span>
                                                </div>
                                            </div>
                                        `;
                                        }
                                    }
                                }
                            });
                        }
                    }
                    return defs;
                })(),

                rowCallback: function (row, data, index) {
                    if (is_this_month) {
                        $('td', row).each(function (colIndex) {
                            if (colIndex === index_today) {
                                $('td:eq(' + index_today + ')', row).addClass('leave-info');
                            }
                        });
                    }
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/th.json'
                },
                "bStateSave": false,
                "retrieve": true,
                "info": false,
                "paging": false,
                "searching": false,
                "ordering": false,
                fixedColumns: {
                    left: 1
                },
                scrollX: false,
                scrollCollapse: true,
                fixedHeader: true,
                destroy: true,
            });
        }

    </script>

}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script>
    $(function () {
        // เปิดใช้งาน Tooltip ทั้งหมด
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>