@model WebENG.Models.UserModel;
@{
    ViewData["Title"] = "Leave Status";
}
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<style>

    .custom-control-input:not(:checked) ~ .custom-control-label::before {
        background-color: lightgray;
        border-color: lightgray;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: green;
        border-color: green;
    }

    .kanit-thin {
        font-family: "Kanit", sans-serif !important;
        font-weight: 100 !important;
        font-style: normal !important;
    }

    .kanit-extralight {
        font-family: "Kanit", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .kanit-light {
        font-family: "Kanit", sans-serif !important;
        font-weight: 300 !important;
        font-style: normal !important;
    }

    .kanit-regular {
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .kanit-medium {
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .kanit-semibold {
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .kanit-bold {
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .kanit-extrabold {
        font-family: "Kanit", sans-serif;
        font-weight: 800;
        font-style: normal;
    }

    .kanit-black {
        font-family: "Kanit", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .kanit-thin-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .kanit-extralight-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 200;
        font-style: italic;
    }

    .kanit-light-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .kanit-regular-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .kanit-medium-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .kanit-semibold-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    .kanit-bold-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .kanit-extrabold-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 800;
        font-style: italic;
    }

    .kanit-black-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 900;
        font-style: italic;
    }
    /* สไตล์สำหรับ input */
    input[type="text"] {
        transition: opacity 0.3s ease, background-color 0.3s ease; /* แอนิเมชันนุ่มนวล */
    }
        /* input ตอน disable */
        input[type="text"]:disabled {
            cursor: not-allowed;
        }
        /* input ตอน enable */
        input[type="text"]:not(:disabled) {
            opacity: 1;
        }
    /* สไตล์สำหรับ input */
    input[type="number"] {
        transition: opacity 0.3s ease, background-color 0.3s ease; /* แอนิเมชันนุ่มนวล */
    }
        /* input ตอน disable */
        input[type="number"]:disabled {
            cursor: not-allowed;
        }
        /* input ตอน enable */
        input[type="number"]:not(:disabled) {
            opacity: 1;
        }

    table.dataTable tbody td {
        border-left: none !important;
        border-right: none !important;
        border-top: none !important; /* ถ้าต้องการลบเส้นแนวนอนด้วย ให้ uncomment */
    }

    /* สำหรับ header ถ้าต้องการลบแนวตั้ง */
    table.dataTable thead th {
        border-left: none !important;
        border-right: none !important;
    }

    /* ลบเส้นล่างของ footer ถ้ามี */
    table.dataTable tfoot th {
        border-bottom: 1px solid #111; /* เก็บเส้นแนวนอนไว้ */
    }
</style>
<div class="row" style="row-gap:1px;">
    <div class="col-12" style="padding:20px">
        <span class="kanit-bold " style="font-size:30px; color:#1C4698; text-align:center;">สิทธิ์ & ประวัติการลา</span>
        @* <hr style="border:solid; color:#1C4698; border-width:1px" /> *@ 
    </div> 

    <!-- Left Side : Info -->
    <div class="col-xl-3 col-sm-12">
                <form>
                    <div class="col-12">
                        <div class="card card-dark" style="border-radius:10px; padding:10px">
                            <div class="card-body" overflow-y:auto">
                                <div class="form-group row">
                            <label class="kanit-regular" style="font-size:22px; letter-spacing:1px; color:#1C4698;">สิทธิ์การลาคงเหลือ</label>
                            <div class="col-12" style="font-size:18px; ">
                                        <div class="row">
                                            <div class="col-8" style="text-align:start">
                                                <label class="kanit-light">ลาพักร้อน</label>
                                            </div>
                                            <div class="col-4" style="text-align:end">
                                                <label class="kanit-regular">4 / 4 วัน</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8" style="text-align:start">
                                                <label class="kanit-light">ลาป่วย</label>
                                            </div>
                                            <div class="col-4" style="text-align:end">
                                                <label class="kanit-regular">29 / 30 วัน</label>
                                            </div>
                                        </div>
                                        <div id="div_leaves_balance"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
    </div>


    <div class="col-xl-9 col-md-9 col-sm-12">
        <div class="card card-dark" style="border-top-right-radius:20px; border-top-left-radius:20px;">
            <h4 class="kanit-regular " style="letter-spacing:2px; padding:10px; padding-left:15px; color:white; border-top-right-radius:20px; border-top-left-radius:20px; background: #2178BE;
        background: linear-gradient(90deg, rgba(33, 120, 190, 1) 0%, rgba(40, 71, 95, 1) 100%);
        display: flex; justify-content: space-between; align-items: center;">
                ประวัติการลา (ปี 2568)
                @* <button class="btn btn-success" data-toggle="modal" data-target="#AddTripModal"
                        style=" text-align:end; border-radius:20px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    + ยื่นลางาน
                </button> *@
            </h4>

            <div class="card-body " style="height:700px; overflow-y:auto; ">
               @*  <label class="kanit-regular" style="font-size:22px; letter-spacing:1px; color:#1C4698;">ประวัติการลา (ปี 2568)</label> *@
                    <div class="table-responsive">
                    <table id="table_leave" class="table table-sm table-bordered table-hover text-center mb-0">
                            <thead class="kanit-light" style="background-color:#2178BE; color:white; font-size:16px; letter-spacing:1px">
                            <tr class="kanit-light">
                                <th class="align-middle">ลำดับ</th>
                                <th class="align-middle">วันที่ยื่นลา</th>
                                <th class="align-middle">วันที่ลา</th>
                                <th class="align-middle">เวลาที่ลา</th>
                                <th class="align-middle">ระยะเวลาที่ลา</th>
                                <th class="align-middle">ประเภทการลา</th>
                                <th class="align-middle">หมายเหตุ</th>
                                <th class="align-middle">สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="clickable-row align-content-center text-center kanit-regular"
                                    style="color:#555">
                                    <td>1</td>
                                    <td>03/11/25 08:33</td>
                                    <td>31/10/25</td>
                                    <td>08:30 - 17:30</td>
                                    <td>1 วัน</td>
                                    <td>ลาป่วย</td>
                                    <td>ท้องเสีย</td>
                                    <td><span class="badge badge-success p-2 kanit-regular" style="font-size:16px; border-radius:20px;">อนุมัติ</span></td>
                                </tr>

                                <tr class="clickable-row align-content-center text-center kanit-regular"
                                    style="color:#555">
                                    <td>2</td>
                                    <td>03/11/25 08:46</td>
                                    <td>06/11/25 - 07/11/25</td>
                                    <td>08:30 - 17:30</td>
                                    <td>2 วัน</td>
                                    <td>ลาพักร้อน</td>
                                    <td>-</td>
                                <td><span class="badge badge-warning p-2 kanit-regular" style="font-size:16px; border-radius:20px;">รออนุมัติ</span></td>
                                </tr>

                                <tr class="clickable-row align-content-center text-center kanit-regular"
                                    style="color:#555">
                                    <td>3</td>
                                    <td>03/11/25 09:00</td>
                                    <td>04/11/25</td>
                                    <td>08:30 - 12:00</td>
                                    <td>ครึ่งวัน (เช้า)</td>
                                    <td>ลาพักร้อน</td>
                                    <td>-</td>
                                    <td><span class="badge badge-danger p-2 kanit-regular" style="font-size:16px; border-radius:20px;">ไม่อนุมัติ</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
            <partial name="ModalSpin" />            

@section Scripts
{
                <script type="text/javascript">
        let table_leave = null;
        let leaves = [];
        $(document).ready(async function () {
            //await GetData();
            init();
        });

        async function GetData() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetData", "ManagementLeave")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {  },
                success: function (response) {
                    leaves = response;
                    init(leaves);
                }
            });
        }

        // function init() {
        //     $(document).ready(function () {
        //         $('#table_leave').DataTable({
        //             ajax: {
        //                 type: "GET",
        //                 url: '@Url.Action("GetData", "ManagementLeave")',
        //                 contentType: 'application/x-www-form-urlencoded',
        //                 dataSrc: ''
        //             },
        //             columnDefs: [
        //                 {
        //                     targets: 0,
        //                     render: function (data, type, row) {

        //                         return `
        //                 <div class="row">
        //                      <div class="col-12 d-flex align-items-center justify-content-start">
        //                         <div>
        //                             <span class="kanit-light d-block text-start fw-bold d-flex justify-content-start">${row.name}</span>
        //                             <span class="kanit-light d-block text-start text-muted small d-flex justify-content-start">พนักงานทั่วไป</span>
        //                         </div>
        //                     </div>
        //                </div>`;
        //                     }
        //                 },
        //                 {
        //                     targets: 6,
        //                     render: function (data, type, row) {
        //                         return `
        //                             <input type="button" class="kanit-light btn btn-primary" value="OK" />
        //                 `;
        //                     }
        //                 },
        //             ],
        //             language: {
        //                 url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/th.json'
        //             },
        //             "info": false,
        //             "paging":false,
        //         });
        //     });
        // }
                </script>
            }
