@{
    ViewData["title"] = "Job Time";
}
<div class="row p-4" style="row-gap:5px">
    <div class="col-xl-12">
        <div class="card card-dark">
            <div class="card-body">
                <div class="row" style="row-gap:10px">
                    <div class="col-xl-7">

                    </div>
                    <div class="col-xl-2">
                        <select id="select_department" class="form-control">
                            <option value="ALL" selected>ALL</option>
                            <option value="CES-System">CES-System</option>
                            <option value="CES-CIS">CES-CIS</option>
                            <option value="CES-Exp">CES-Exp</option>
                            <option value="CES-QIR">CES-QIR</option>
                            <option value="CES-ENG">CES-ENG</option>
                            <option value="CES-PMD">CES-PMD</option>
                            <option value="AES">AES</option>
                        </select>
                    </div>
                    <div class="col-xl-2">
                        <select id="select_responsible" class="form-control">
                        </select>
                    </div>
                    <div class="col-xl-1">
                        <button id="btnUpdate" type="button" class="btn btn-primary form-control">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-dark">
            <div class="card-body">
                <canvas id="chart" style="height:400px" />
            </div>
        </div>
        <div class="card card-dark">
            <div class="card-header">
                <span>Table</span>
            </div>
            <div class="card-body" style="overflow-x:auto">
                <table id="tableIdleHrs" class="table table-bordered table-hover table-sm text-center w-100">
                    <thead>
                        <tr>
                            <th style="width:150px">Job</th>
                            <th>Job Name</th>
                            <th style="width:150px">Normal (Hours)</th>
                            <th style="width:150px">OT 1.5 (Hours)</th>
                            <th style="width:150px">OT 3.0 (Hours)</th>
                            <th style="width:150px">Total (Hours)</th>
                            <th style="width:150px">Total With OT (Hours)</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card card-dark">
            <div class="card-body">
                <canvas id="radar_chart" style="height:700px" />
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        let chart;
        let radar_chart;
        let table;

        $(document).ready(function () {
            GetEmployees();
            //UpdateView();
        });

        $('#btnUpdate').on('click', function () {
            UpdateView();
        });

        $('#select_department').on('change', function () {
            GetEmployees();
        });

        async function GetEmployees() {
            const department = $('#select_department').val();
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetEmployees", "JobTime")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { department},
                success: function (response) {
                    const employees = response;
                    GenerateResponsibleOption(employees);
                }
            });
        }

        async function UpdateView() {
            let department = $('#select_department').val();
            let responsible = $('#select_responsible').val();
            let idles = await GetJobTimes(department, responsible);
            GenerateChart(idles);
            GenerateRadarChart(idles);
            GenerateTable(idles);
        }

        async function GetJobTimes(department, responsible) {
            let idles = [];
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetJobTimes", "JobTime")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { department, responsible },
                success: function (response) {
                    idles = response;
                }
            });
            return idles;
        };

        function GenerateResponsibleOption(employees) {
            $('#select_responsible').empty();
            $('#select_responsible').append(`<option value="ALL" selected>ALL</option>`);
            for (let i = 0; i < employees.length; i++) {
                $('#select_responsible').append(`<option value="${employees[i].emp_id}">${employees[i].name_en}</option>`);
            }
        }

        function GenerateChart(idles) {

            let colors = ['#96F035', '#F0EA35', '#F09235'];

            let jobs = [];
            jobs = idles.map(m => m.job).filter(f => f !== "");
            jobs = [... new Set(jobs)];

            let hoursNormal = [];
            let hoursOT1_5 = [];
            let hoursOT3_0 = [];
            for (let i = 0; i < jobs.length; i++) {
                let datas = idles.filter(f => f.job === jobs[i]);
                hoursNormal.push(datas.map(m => m.normal)[0]);
                hoursOT1_5.push(datas.map(m => m.ot1_5)[0]);
                hoursOT3_0.push(datas.map(m => m.ot3_0)[0]);
            }

            if (chart !== undefined) {
                chart.destroy();
            }

            const ctx = document.getElementById('chart').getContext('2d');
            chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: jobs,
                    datasets: [
                        {
                            label: 'Normal',
                            data: hoursNormal,
                            backgroundColor: colors[0]
                        },
                        {
                            label: 'OT 1.5',
                            data: hoursOT1_5,
                            backgroundColor: colors[1]
                        },
                        {
                            label: 'OT 3.0',
                            data: hoursOT3_0,
                            backgroundColor: colors[2]
                        },
                    ]
                },
                options: {
                    scales: {
                        x: {
                            title: {
                                text: "Jobs",
                                display: true
                            },
                            stacked: true
                        },
                        y: {
                            title: {
                                text: "Hours",
                                display: true
                            },
                            stacked: true,
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        title: {
                            text: `Working Hours Chart`,
                            display: true,
                            font: {
                                size: 18
                            },
                        },
                        legend: {
                            position: 'bottom',
                            display: true
                        }
                    },
                    maintainAspectRatio: false
                }
            });
        }

        function GenerateRadarChart(idles) {

            let colors = ['#96F035', '#F0EA35', '#F09235'];

            let jobs = [];
            jobs = idles.map(m => m.job).filter(f => f !== "");
            jobs = [... new Set(jobs)];

            let hoursNormal = [];
            let hoursOT1_5 = [];
            let hoursOT3_0 = [];
            for (let i = 0; i < jobs.length; i++) {
                let datas = idles.filter(f => f.job === jobs[i]);
                hoursNormal.push(datas.map(m => m.normal)[0]);
                hoursOT1_5.push(datas.map(m => m.ot1_5)[0]);
                hoursOT3_0.push(datas.map(m => m.ot3_0)[0]);
            }

            if (radar_chart !== undefined) {
                radar_chart.destroy();
            }

            const ctx = document.getElementById('radar_chart').getContext('2d');
            radar_chart = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: jobs,
                    datasets: [
                        {
                            label: 'Normal',
                            data: hoursNormal,
                            backgroundColor: colors[0]
                        },
                        {
                            label: 'OT 1.5',
                            data: hoursOT1_5,
                            backgroundColor: colors[1]
                        },
                        {
                            label: 'OT 3.0',
                            data: hoursOT3_0,
                            backgroundColor: colors[2]
                        },
                    ]
                },
                options: {
                    scales: {
                      r: {
                        pointLabels: {
                          font: {
                            size: 14
                          }
                        }
                      }
                    },
                    plugins: {
                        title: {
                            text: `Working Hours Radar Chart`,
                            display: true,
                            font: {
                                size: 18
                            },
                        },
                        legend: {
                            position: 'bottom',
                            display: true,
                        },
                    },
                    maintainAspectRatio: false
                }
            });
        }
        function GenerateTable(idles) {
            let datas = idles;
            datas = datas.filter(f => f.userName !== "");
            $('#tableIdleHrs').DataTable().destroy();
            $('#tableIdleHrs tbody').empty();
            for (let i = 0; i < datas.length; i++) {
                let rowStr = `
                    <tr>
                        <td>${datas[i].job}</td>
                        <td>${datas[i].job_name}</td>
                        <td>${datas[i].normal.toFixed(2)}</td>
                        <td>${datas[i].ot1_5.toFixed(2)}</td>
                        <td>${datas[i].ot3_0.toFixed(2)}</td>
                        <td>${(datas[i].normal + datas[i].ot1_5 + datas[i].ot3_0).toFixed(2)}</td>
                        <td>${(datas[i].normal + datas[i].ot1_5 * 1.5 + datas[i].ot3_0 * 3.0).toFixed(2)}</td>
                    </tr>
                `;
                $('#tableIdleHrs tbody').append(rowStr);
            }


            $('#tableIdleHrs').DataTable({
                order: [[0, 'asc']],
                pageLength: 25,
                lengthMenu: [10, 25, 50, 100],
                columnDefs: [
                    { targets: [1], className: 'dt-left' },
                ],
                paging: false,
                searching: false,
                info: false,
                destroy: true
            });
        }
    </script>
}